.box {
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
}

#box1 {
    background-color: red;
    margin: auto; /* # stay at the center */
}

#box2 {
    background-color: blue;
}