* {
    box-sizing: border-box; /* when calculating width, include padding and border */
}

.box {
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
}

#box1 {
    background-color: red;
    margin: auto; /* # stay at the center */
}

#box2 {
    background-color: blue;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {
    background-color: hsl(0, 0%, 80%);
    color: white;
    margin: 10px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: hsl(0, 0%, 95%);
    min-width: 100px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.8);
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: hsl(0, 0%, 70%);
}

.dropdown a:hover {
    background-color: hsl(0, 0%, 80%);
}

body {
    margin: 0;
}

main {
    margin: 10px;
}

h1 {
    text-align: center;
}

.navbar {
    background-color: black;
    height: 50px
}

.navbar ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 80%);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 70%);
    cursor: pointer;
}

.navbar li {
    float: left;
}

header {
    background-color: hsl(0, 0%, 80%);
    text-align: center;
    padding: 25px;
}

aside {
    width: 20%;
    float: left;
    padding: 10px;
}

section {
    width: 40%;
    float: left;
    padding: 10px;
}

article {
    width: 40%;
    float: left;
    padding: 10px;
}

footer {
    display: block;
    clear: both;
    background-color: black;
    text-align: center;
    padding: 25px;
}

@media screen and (max-width:600px) {
    aside, section, article {
        width: 100%;
    }
}